*{
    --additionalColor: #cc3444;
    --form-background: none;
    transition: 300ms;
    margin: 0px;
    padding: 0px;
}


.description{
  color: gray;  
  display: flex;
  justify-content: start;
  width: 100%;
  
  font-size: 11pt;
}
.labelInput{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.SettingBLock{
    
    background-color:rgb(37, 37, 37) ;
    height: 100%;
    border: 1px solid gray;
    padding: 15px;
    border-radius: 0px 15px 15px 15px;
}
.blockInputs{
    display: flex;
    margin-bottom:10px ;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.label{
    
    width: 70%;
    display: flex;
    flex-direction: row;
}
.labeltext{
  font-size: 16pt;
}
.valueOflimit{
  font-size: 16pt;
  color:var(--additionalColor)
}
.count{
  font-size: 16pt;
  margin:0 5px ;
  
}
.ButtonURLClicked{
 background-color: rgb(66, 116, 66);
 padding: 5px 4px;
 cursor: pointer;
 border-radius:5px 0px 5px 0px ;
}
.ButtonURLnotclicked{
  background: var(--additionalColor);
  padding: 5px 4px;
  cursor: pointer;
  border-radius:5px 0px 5px 0px ;
}
.ButtonURLClicked:hover{
  background-color: rgba(66, 116, 66, 0.466);
}
.ButtonURLnotclicked:hover{
  background-color: #cc344386;;
}
.currentinput{
width: 30%;
align-items: center;
display: flex;
justify-content: end;
}
.blockInputs input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color:  rgb(61, 61, 61);
  /* Not removed via appearance */
  margin: 0;
  
  font: inherit;
  color: currentColor;
  width: 60px;
  height: 30px;
  cursor:pointer;
  border-radius: 30px;
  transform: translateY(-0.075em);

  display: flex;
  align-items: center;
}
.textaboutsettings{
  display: flex;
  justify-content: center;
  font-size: 18pt;
  margin-bottom: 15px;
}
.blockInputs input[type="checkbox"]::before {
  margin-left: 5px;
  content: "";
  width: 22.5px;
  height: 22.5px;
  transform: scale(1);
  transform-origin: center;
  transition: 120ms transform ease-in-out, 120ms opacity ease-in-out;
  border-radius: 50%;
  transition: 500ms;
  /* Windows High Contrast Mode */
  background-color: var(--additionalColor);
}

.blockInputs input[type="checkbox"]:checked::before {
  margin-left:34px ;
  transition: 500ms;
  
}
.blockInputs input[type="checkbox"]:checked {
    background-color: rgb(240, 255, 247);
  
}

.blockInputs input[type="checkbox"]:focus {
  
}
.blockInputs input[type="input"]{
  background-color: #cc3444;
}

.blockInputs input[type="range"]{
  -webkit-appearance: none;
  /* transform: translateY(50%); */
  width: 100px;
  height: 10px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  background: rgb(61, 61, 61);
  
  background-repeat: no-repeat;
}
.blockInputs input[type='range']::-webkit-slider-thumb {
  cursor:pointer;
    -webkit-appearance: none !important;
    background:var(--additionalColor);
    height:30px;
    width:10px;
    border-radius: 30px;
}
.buttonAdditional{
  background-color: #cc3444;
 
    width: 100%;
    padding: 10px 0;
    border-radius: 15px;
    border: 0px;
    cursor: pointer;
    font-size: 13pt;
    
}
