.main{
    background-color: rgb(37, 37, 37);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.forms{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    width: auto;
    border-radius: 15px;
    flex-direction: column;
}
